body{
    background: url(https://www.diariamenteali.com/medias/como-prender-una-parrilla-1900Wx500H?context=bWFzdGVyfGltYWdlc3wxNzU0MTB8aW1hZ2UvanBlZ3xoNGMvaDgxLzkwNzQ0MzA1MDkwODYvY29tby1wcmVuZGVyLXVuYS1wYXJyaWxsYV8xOTAwV3g1MDBIfDRhODNmNTRiODViZTMyY2QxMDEwZjEyMDcxMTkxYjllYmU3MGU2Nzk3MmVlMDZiZDQ3YWI3YzlmZDFhMjU3OTM);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
}
.contenedor{
    display: flexbox;
    align-items: center;
}

h1 {
    color: whitesmoke;
}
img {
    width: 400px;
    height: 300px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: transparent;
    padding: 50px;
    border: red 5px dotted;
    border-radius: 10px;
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
a{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}